name: "Release workflow"
on:
  push:
    tags:
      - "*"
jobs:
  goreleaser:
    strategy:
      matrix:
        os: [ubuntu-latest,windows-latest,macos-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: "récupérer le contenu"
        uses: actions/checkout@v3
      - name: "Set up go"
        uses: actions/setup-go@v3
        with:
          go-version: "1.17"
      - name: "Run go releaser"
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: "latest"
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
      - name: "Upload artifact"
        uses: actions/upload-artifact@v3
        with:
          name: myapp
          path: ./dist/*
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: "récupérer le contenus"
        uses: actions/checkout@v3
      - name: "setup docker buildx"
        uses: docker/setup-buildx-action@v2
      - name: "authentification"
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB_TOKEN}}
      - name: "Get release version"
        run: echo "RELEASE_VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: "Build and push"
        uses: docker/build-push-action@v3
        with:
          push: false
          tags: ${{ secrets.DOCKERHUB_USERNAME}}/4dvp-project:${{env.RELEASE_VERSION}}
